@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --main-background: #272838;
  --main-background-lighter: #34354A;
  --game-background: #1e1e2c;
  --text-yellow: #F7B05B;
  --text-orange: #CC5803;
  --text-white: #E7DECD;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--main-background);
  color: var(--text-yellow);
  font-family: 'Alegreya', serif;
}

.orange{
  color: var(--text-orange);
  font-weight: bold;
  font-size: 1.5rem;
}

.yellow{
  color: var(--text-yellow);
  font-weight: bold;
  font-size: 1.5rem;
}

.white{
  color: var(--text-white);
  font-weight: 500;
  font-size: 1.2rem;
}

.sidebar{
  background-color: var(--game-background);
  width: 250px;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -0.05em 0 0.5em rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: 0.4s ease-in-out;
}

.sidebar-show{
  transform: translateX(0%);
}

.sidebar-header{
  margin: 1rem 0 1rem 1rem;
}

.menu-title{
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
  border-left: solid 1px var(--text-yellow);
  border-radius: 1;
}

a{
  color: var(--text-white);
  text-decoration: none;
}

.nav-item{
  padding: 9px 0 9px 18px;
  cursor: pointer;
}

.nav-item:hover, .subNav-item:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.nav-item:hover a, .subNav-item:hover > *{
  color: var(--text-yellow);
}

.subNav-item{
  padding: 0.3rem 3.3rem;
  cursor: pointer;
}

.subNav-item>*{
  text-decoration: none;
  color: var(--text-white);
}

.hasSubMenu{
  cursor: default;
}

.hasSubMenu:hover, .hasSubMenu:hover a{
  cursor: default;
  background-color: var(--game-background);
  color: var(--text-orange);
}

.nav-item > a{
  margin: 0;
  font-weight: 200;
  font-size: 1rem;
}

.hasSubMenu > a{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-yellow)
}

.header-title{
  flex-grow: 2;
}

.header-title h2{
  word-spacing: 5px;
  margin: 0;
}

.header-title h2 span{
  color: var(--text-white);
  text-decoration: underline;
}

.indent, .header-menu{
  min-width: 110px;
  max-width: 110px;
  color: var(--text-white);
}

.indent{
  padding-top: 8px;
  padding-left: 8px;
}

.btn, a{
  color: var(--text-white);
  border: none;
}

svg{
  width: 35px;
  height: 35px;
}

.nav-item > a > svg{
  width: 28px;
  height: 28px;
  margin-right: 0.4rem;
}

a>span{
  margin-left: 0.3rem;
}

.menu-btn, .howto-btn, .close-btn{
  padding: 1rem 0.5rem;
}

.close-btn{
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0;
}

.btn:hover{
  color: var(--text-orange);
}

.games-section{
  max-width: 1128px;
  margin: 6rem auto;
}

.game{
  position: relative;
  color:var(--text-white);
  width: 250px;
  height: 378px;
  background-color: var(--game-background);
  border-radius: 0.5rem;
  margin: 1rem;
}

.game h5{
  font-size: 1.7rem;
}

.game:hover{
  cursor: pointer;
  width: 282px;
  height: 426px;
  margin: 0;
}

.game:hover h5{
  font-size: 2rem;
}

.comingSoonOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay{
  display: none;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.game-container{
  width: 500px;
}

.game-tries-counter{
  margin: 1rem;
}

.game-tries-counter div img{
  margin: 0.5rem;
}

.game-display{
  background-color: var(--game-background);
  width: 100%;
  height: 500px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.game-display > img{
  display: block;
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.input-field{
  color: var(--text-white);
  font-size: large;
  background-color: var(--main-background-lighter);
  border: solid var(--text-white) 0.1rem;
  width: 500px;
  height: 60px;
  border-radius: 0.3rem;
  padding: 10px
}

.input-field::placeholder{
  color: var(--text-white);
  font-size: large;
  letter-spacing: 3px;
}

.input-field:focus{
  outline: none;
}

.submit-btn{
  background-color: var(--text-orange);
  width: 250px;
  height: 40px; 
  color: var(--game-background);
  font-weight: bold;
  margin: 1rem;
}

.submit-btn:hover{
  background-color: var(--text-white);
  font-weight: bold;
}

.modal-dialog{
  margin-top: 60px;
  max-width: 550px;
}

.modal-content{
  height: auto;
  max-height: 875px;
}

.modal-content{
  text-align: center;
}

.modal-title{
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.modal-content{
  background-color: var(--game-background);
  color: var(--text-white);
}

.modal-header, .modal-footer{
  border: none;
}

.modal-body{
  padding: 0;
}

.modal-footer{
  justify-content: space-between;
}

.answer-wrapper{
  padding-top: 1rem;
}

.answer-wrapper>img{
  height: 600px;
  width: 100%;
  object-fit: cover;
  padding: 0 1rem;
}

.time{
  align-self: center;
}

.ch{
  width: 4.5ch;
}

.ch > span{
  padding-right: 0.2rem;
}

.error-box{
  width: 70%;
}

.error{
  background-color: var(--text-yellow);
  border-radius: 0.3rem;
  color: var(--game-background);
  margin-top: 0.2rem;
  width: 100%;
  padding: 0.2rem 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  animation-name: fadeOut;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.loading{
  font-size: 2rem;
  margin-top: 400px;
}

.timer{
  font-size: 1.2rem;
  font-weight: 500;
}





